body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-toggle-re{
  justify-content: space-between;
}
.sr-only{
  display: none;
}
.carousel-inner>.item {
  -webkit-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}
.nav-link{
  color:   rgb(170, 129, 7);
}
.nav-pills .nav-link.active{
  background-color: rgb(255, 193, 7);
}
input{
  outline:none;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
input.form-control:focus{

  box-shadow: 2px 3px 2px rgb(255, 193, 7), 2px 3px 2px rgb(255, 193, 7);
}
textarea.form-control:focus{
  outline: none;;
  box-shadow: 2px 3px 2px rgb(255, 193, 7), 2px 3px 2px rgb(255, 193, 7);
}
.form-check-input:checked{
background-color: #ffc107;
border-color: #ffc107;
}
.carousel-indicators li{
  width: 20px;
  background-color: #fff;
  margin-right: 5px;
  height: 2px;
}
.carousel-inner{
  height: 100%;
}
a.link{
  text-decoration: none;
}